@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spectral:200,300,400,500,600,700&display=swap");

:root {
	--pink: #D25A59;
	--light-pink: #F8DBDC;
	--grey: #BCBCBC;
	--off-white: #FCF9F7;
	--dark-blue: #374E67;
	--musty-pink: #C098A0;

	--primary-font: Oswald;
	--secondary-font: Spectral;
}
body {
	padding: 0px;
	padding-top: 100px;
	margin: 0px;
	background-image: url("https://images.unsplash.com/photo-1519423734803-b9744f10bfcd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
	background-size: 100%;
}
.hidden {
	display: none;
}

#hamburger {
	position: absolute;
	font-size: 28px;
	background-color: var(--musty-pink);
	border-radius: 4px;
	top: 20px;
	left: 20px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: hand;
	cursor: pointer;
	z-index: 100;
	transition: all .4s;
}
.open {
	top: 0px !important;
	left: 0px !important;
}
.menu {
	background-color: var(--grey);
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 40px;
}
.menu a {
	color: inherit;
	text-decoration: none;
}
.menu a:hover {
	opacity: .8;
}
h1, h3 {
	line-height: 1.0;
	padding: 20px;
	margin: 0px;
	text-align: center;
}
h1 {
	font-family: var(--primary-font);
	text-transform: uppercase;
	color: var(--off-white);
	text-shadow: 0px 0px 6px var(--dark-blue);
	font-size: 120px;
	
}
h2 {
	font-family: var(--primary-font);
	font-size: 20px;
	color: var(--pink);
	text-transform: uppercase;

}
h3 {
	font-family: var(--primary-font);
	color: var(--musty-pink);
	text-transform: uppercase;
	font-size: 40px;
}
h4 {
	font-family: var(--secondary-font);
	color: var(--musty-pink);
	font-weight: 300;
}
h5 {
	font-family: var(--primary-font);
	font-size: 28px;
	color: var(--light-pink);
	font-weight: 400;
}
h5 small {
	color: var(--musty-pink);
	font-size: 20px;
}
h6 {
	font-family: var(--primary-font);
	color: var(--light-pink);
	font-size: 38px;
	font-weight: 400;
}
.button {
	font-family: var(--primary-font);
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
}
.page-hero {
	box-sizing: border-box;
	width: 40%;
	margin-left: 60%;
	padding: 20px;
}
.page-hero h4 {
	width: 440px;
	text-align: center;
	margin: 30px auto;
	line-height: 2.0;
}
.page-hero .button {
	color: var(--musty-pink);
	border: 1px solid var(--musty-pink);
	width: 200px;
	text-align: center;
	padding: 10px 0px;
	display: block;
	margin: 0 auto;
	border-radius: 100px;
}
.find {
	padding: 100px;
	margin: 100px 0px;
	margin-bottom: 650px;
}
.find .left {
	width: 50%;
	float: left;
}
.find .left .map {
	position: absolute;
	width: 40%;
	height: 40%;
	background-color: var(--grey);
}
.find h5.map-select{
	line-height: 1.0;
	padding: 5px 0px;
	margin: 0px;
}
.find .right {
	width: 50%;
	float: right;
}
.find .right .number {
	font-family: var(--secondary-font);
	color: var(--off-white);
	background-color: var(--pink);
	padding: 3px 15px;
	font-size: 22px;
	border-radius: 100px;
	margin-right: 10px;
}
.find .right h5 {
	display: inline;
}
.find .right h5 small {
	display: block;
	text-align: center;
}
.find .right .location {
	margin-bottom: 100px;
}
.find .right .button {
	margin-top: 20px;
}
.button.primary {
	display: inline-block;
	color: var(--off-white);
	font-size: 20px;
	background-color: var(--pink);
	min-width: 180px;
	height: 40px;
	line-height: 40px;
	max-width: fix-content;
	text-align: center;
	border-radius: 100px;
}
.button.primary:hover, .button.secondary:hover, .page-hero .button:hover  {
	transition: all .2s;
	opacity: .8;
}

.button.secondary {
	display: inline-block;
	color: var(--pink);
	border: 1px solid var(--pink);
	height: 30px;
	line-height: 30px;
	min-width: 120px;
	max-width: fix-content;
	text-align: center;
	border-radius: 100px;
	margin-left: 20px;
}
.subscribe {
	background-color: var(--grey);
	padding: 60px 0px;
}
.subscribe h6 {
	color: var(--pink);
	text-align: center;
	line-height: 1.0;
	padding: 0px;
	margin: 0px;
}
.subscribe h4 {
	color: var(--dark-blue);
	text-align: center;
	line-height: 2.0;
}
.subscribe form {
	text-align: center;
}
.subscribe input[type="email"] {
	border: 2px solid var(--pink);
	border-radius: 100px;
	box-sizing: border-box;
	min-width: 300px;
	max-width: fit-content;
	height: 40px;
	padding: 0px 20px;
	font-family: var(--secondary-font);
	color: var(--dark-blue);
	font-size: 16px;
}
.subscribe input[type="submit"] {
	background-color: var(--pink);
	font-family: var(--secondary-font);
	border: none;
	border-radius: 100px;
	min-width: 90px;
	height: 38px;
	font-size: 16px;
	color: var(--off-white);
	margin-left: 10px;
}
footer {
	padding: 10px 100px;
}
footer h5 {
	display: inline;
}
footer h5 small {
	color: var(--grey);
	display: inline;
	padding: 0px;
	margin: 0px;
	line-height: 1.0;
}
footer h5 a {
	transition: all .2s;
	color: inherit;
}
footer h5 a:hover {
	color: var(--pink);
}
footer nav {
	display: inline-block;
	float: right;
	margin: 10px 0px;
}
footer nav a {
	color: var(--grey);
	margin: 0px 18px;
	text-decoration: none;
	font-family: var(--primary-font);
	text-transform: uppercase;
	transition: all .2s;

}
footer nav a:hover {
	opacity: .8;
}
/* media */
@media screen and (max-width: 1200px) {
	.content .page-hero {
		background-color: rgba(0,0,0,.8);
		margin: 0 auto;
		width: 80%;
	}
	.find {
		padding: 50px;
	}
}

